/* Header/Nav */
.main-nav {
  padding: 1rem 0;
  position: relative;
  top: 0;
}

.main-nav__items {
  position: absolute;
  top: 65%;
  width: 100%;
  background-color: var(--custom-white);
  text-align: center;
  margin-top: 2rem;
  border-radius: 0.4rem;
  z-index: 3;
  display: none;
}

.main-nav__item {
  margin: 2.5rem 0;
}

.main-nav__link {
  color: var(--dark-blue);
}

.main-nav__cta {
  display: none;
}

.mobile-overlay {
  height: 100vh;
  width: 100vw;
  background: rgb(45, 49, 77);
  background: linear-gradient(
    90deg,
    rgba(45, 49, 77, 0.5) 32%,
    rgba(0, 0, 0, 0.1) 100%
  );
  position: absolute;
  top: 8%;
  left: 0;
  display: none;
}

/* Showcase */
.showcase .container {
  display: flex;
  flex-direction: column;
}

.showcase__graphic {
  order: 0;
  background-image: url("../images/bg-intro-mobile.svg");
  background-size: cover;
  width: 100%;
}

.showcase__message {
  order: 1;
}

.showcase__title {
  font-size: 2.6rem;
  line-height: 3rem;
  text-align: center;
  margin: 1rem 0;
}

.showcase__detail {
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

.showcase__cta {
  text-align: center;
  margin-bottom: 4rem;
}

/* Services */
.services {
  padding: 2rem 0;
}

.services__header {
  text-align: center;
  margin-bottom: 2.5rem;
}

.services__title {
  font-size: 2rem;
  margin: 1rem 0;
}

.services__message {
  line-height: 1.5rem;
}

.service-detail {
  text-align: center;
  margin: 2.5rem 0;
}

.service-detail__graphic {
  width: 25%;
}

.service-detail__body {
  line-height: 1.7rem;
  font-size: 16px;
}

/* Articles */
.articles {
  padding: 2rem 0;
}

.articles__header {
  margin: 2rem 0;
  text-align: center;
}

.articles__header-title {
  font-size: 2rem;
}

.article {
  border-radius: 0.5rem;
  margin: 3rem 0;
}

.article__title {
  font-size: 18px;
}

.article__info {
  font-weight: 400;
  line-height: 1.3rem;
  font-size: 14px;
}

/* Footer */
footer {
  background-color: var(--dark-blue);
}

.main-footer__graphic {
  text-align: center;
  padding: 2rem;
}

.main-footer__icons {
  justify-content: center;
  margin: 1rem 0;
}

.main-footer__nav {
  margin: 2rem 0;
}

.main-footer__nav-item {
  text-align: center;
  margin: 1.5rem 0;
}

.main-footer__cta {
  text-align: center;
  padding: 1rem 0;
}

.main-footer__cta p {
  margin: 2rem 0;
}
